@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    text-decoration: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.section {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section .sec {
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(5px);
}

header h1 {
    position: relative;
    font-size: 1.9em;
    padding-left: 45px;
}

header h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../img/logo-white.png") no-repeat center center;
    background-size: cover;
}

header .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

header .links nav a {
    position: relative;
    padding-right: 10px;
    margin-right: 40px;
    font-weight: 600;
    transition: all .5s ease;
}

header .links nav a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    opacity: 0;
    height: 2px;
    background-color: #fff;
    transition: all .5s ease;
}

header .links nav a:hover:before {
    opacity: 1;
    width: 80%;
}

.intro {
    position: relative;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9));
    height: 700px;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../img/intro-bg.jpg") no-repeat fixed center center;
    background-size: cover;
}

.intro .sec {
    justify-content: center;
    flex-direction: column;
}

.intro h1 {
    position: relative;
}

.intro h1::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 60px;
    width: 80px;
    height: 80px;
    background: url("../img/logo-white.png") no-repeat center center;
    background-size: cover;
}

.intro p {
    margin-top: 3px;
}

.contents .post {
    width: 100%;
    height: 650px;
    background-color: antiquewhite;
}

.contents .post-1 {
    height: 400px;
    background: #fff;
}

.contents .post-1 .sec {
    width: 60%;
    padding: 10px;
}

.contents .post-1 p {
    text-align: center;
    font-size: 1.5em;
    color: #000;
}

.contents .post-2 .sec {
    overflow: hidden;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.contents .post-2 img {
    height: 100%;
}

.contents .post-2 p {
    font-weight: bold;
    padding: 0 100px;
    text-align: center;
    color: #000;
}

footer {
    position: relative;
    background: linear-gradient(135deg, black 70%, transparent);
    height: 300px;
    display: flex;
    flex-direction: column;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 50%;
    background: url("../img/ft-bg.jpg") no-repeat center center;
    background-size: cover;
}

footer .sec {
    justify-content: center;
}

footer h1 {
    position: relative;
    font-size: 1.9em;
    padding-left: 45px;
}

footer h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../img/logo-white.png") no-repeat center center;
    background-size: cover;
}

footer a {
    padding: 5px;
    margin-left: 5px;
    font-size: 2em;
}

footer a i,
footer .credit a {
    transition: .3s ease;
}

footer a i:hover,
footer .credit a:hover {
    color: grey;
}

footer .credit {
    font-size: .8em;
    height: 20%;
}

footer .credit a {
    padding: 3px;
    text-decoration: underline;
    font-size: 1em;
}